# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build files
node_modules/
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript cache
*.tsbuildinfo

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build output
lib-cov
coverage
*.lcov
.nyc_output

# Dependency directories
node_modules/
jspm_packages/
web_modules/

# Yarn, npm, and pnpm cache
.npm
.yarn-integrity
.pnpm-debug.log*
.pnp.*

# Environment files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build caches
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.temp
.docusaurus

# Serverless, Snowpack, and DynamoDB Local files
.serverless/
.fusebox/
.dynamodb/
.tern-port

# VSCode test directories
.vscode-test
